@charset "utf-8";
@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/eot/Pretendard-Regular.eot');
  src: url('./fonts/eot/Pretendard-Regular.eot?#iefix') format("embedded-opentype"), url('./fonts/woff/Pretendard-Regular.woff') format("woff");
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: bold;
  src: url('./fonts/eot/Pretendard-Bold.eot');
  src: url('./fonts/eot/Pretendard-Bold.eot?#iefix') format("embedded-opentype"), url('./fonts/woff/Pretendard-Bold.woff') format("woff");
}


@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/eot/Pretendard-Medium.eot');
  src: url('./fonts/eot/Pretendard-Medium.eot?#iefix') format("embedded-opentype"), url('./fonts/woff/Pretendard-Medium.woff') format("woff");
}

/* reset */
*{box-sizing: border-box;}
html, body, div, span, object,h1, h2, h3, h4, h5, h6, p, blockquote, a, button, abbr, address, img, q,dl, dt, dd, ol, ul, li,fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,article, aside, footer, header, section, summary{margin:0;padding:0;border:0;font:inherit;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display: block;}/* HTML5 display-role reset for older browsers */
body,html{width: 100%;margin: 0; padding: 0;}ol, ul{list-style: none;}
table{border-collapse: collapse;border-spacing: 0;}
img{border: none;}
a{text-decoration: none;color: inherit;}
address{font-style: normal;}
button{display: inline-block;border: none;background-color: transparent;cursor: pointer;}
select{appearance: none;
  &::-ms-expand {display:none;}
}
input,button,a,select,option{font-family:inherit;font-size:inherit;}
input[type="checkbox"]{border: none !important;}/* for lte IE10 */
input[type="radio"]{border: none !important;}/* for lte IE10 */
input[type="text"]::-ms-clear {display:none;}
button:focus{outline:none;}
caption,hr{display:none;}
pre{word-break:break-all;white-space:pre-line;}
li{list-style: none;}
b,strong,h1,h2,h3,h4,h5,h6{font-weight:normal;}
a{cursor: pointer;}
/* common */
body,html{font-family:'Pretendard';font-size:13px;color: #333;letter-spacing:-0.048em !important;background: #f2f2f6;}
.clearFix:after{content: "";display: block;clear: both;}
.hidden{display:block;margin: 0;padding: 0;width: 0;height: 0;overflow: hidden;font-size: 0;line-height: 0;visibility: visible;position:absolute;}
.txt-center{text-align:center!important;}
.txt-left{text-align: left!important;}
.txt-right{text-align: right!important;}
.pos-r{position:relative;}
.va-t{vertical-align: top;}
iframe{background-color:#fff;}
/* Accessibility Navigation */
.accNav {position:absolute; top:0; left:0; z-index:500; width:100%; height:0;}
.accNav a {display:block; position:absolute; left:0; top:0; overflow:hidden; width:1px; height:1px; margin-left:-1px; margin-bottom:-1px; text-align:center; color:#fff; white-space:nowrap; font-size:0.75em;}
.accNav a:focus,
.accNav a:hover,
.accNav a:active {z-index:1000; width:100%; height:auto; padding:5px 0; background:#ffc000; color:#4A2713; font-weight:700;}

.flex{display:flex;
  &.ac{align-items:center;}
  &.sb{justify-content: space-between;}
  &.bottom{align-items:flex-end;}
  &.top{align-items:flex-start;}
  &.right{justify-content:flex-end;}
  &.column{flex-direction:column;}
}